
@{
    ViewBag.Title = "AccessDenied";
    Layout = null;
}

<div style="width: 100%;background-image: url('../../Content/images/access-denied.png');">
    <div style="margin-top:10%;text-align:center">
        <h2 style="color:red;text-transform:uppercase"> Bạn không có quyền truy cập vào chức năng này</h2>
        <a href="/Home">Về Trang Chủ</a>
    </div>
</div>

